READING FILES

In [1]:
sc

In [ ]:
sc.textFile(path, use_unicode=False).map(lambda x: x.decode("iso-8859-1"))

In [120]:
users = sc.textFile("file:///home/cloudera/Downloads/BDM1 Homework Assignment-1-20180521/users.csv",use_unicode =False).map(lambda line: line.split(","))
# pagecounts.count()

In [121]:
transactions = sc.textFile("file:///home/cloudera/Downloads/BDM1 Homework Assignment-1-20180521/transactions.csv",use_unicode =False).map(lambda line: line.split(","))
transactions.count()

15

In [122]:
transactions.collect()

[['1', '1004', '19', '129', 'whatchamacallit'],
 ['2', '1001', '10', '99', 'thingamajig'],
 ['3', '1004', '17', '129', 'whatchamacallit'],
 ['4', '1001', '9', '99', 'thingamajig'],
 ['5', '1003', '3', '89', 'gadget'],
 ['6', '1002', '19', '149', 'gizmo'],
 ['7', '1002', '30', '149', 'gizmo'],
 ['8', '1002', '26', '149', 'gizmo'],
 ['9', '1001', '22', '99', 'thingamajig'],
 ['10', '1003', '6', '89', 'gadget'],
 ['11', '1004', '1', '129', 'whatchamacallit'],
 ['12', '1004', '2', '129', 'whatchamacallit'],
 ['13', '1005', '5', '199', 'doohickey'],
 ['14', '1004', '7', '129', 'whatchamacallit'],
 ['15', '1002', '16', '149', 'gizmo']]

In [180]:
users.collect()

[['1', 'user1@company.com', 'ES', 'MX'],
 ['2', 'user4@domain.com', 'EN', 'US'],
 ['3', 'user5@company.com', 'FR', 'FR'],
 ['4', 'user9@site.org', 'HI', 'IN'],
 ['5', 'user12@service.io', 'EN', 'CA'],
 ['6', 'user17@website.net', 'FR', 'FR'],
 ['7', 'user21@company.com', 'FR', 'FR'],
 ['8', 'user25@company.com', 'FR', 'FR'],
 ['9', 'user27@school.edu', 'ES', 'MX'],
 ['10', 'user31@website.net', 'EN', 'CA'],
 ['11', 'user36@website.net', 'FR', 'FR'],
 ['12', 'user39@domain.com', 'FR', 'FR'],
 ['13', 'user41@company.com', 'ES', 'MX'],
 ['14', 'user45@domain.com', 'HI', 'IN'],
 ['15', 'user48@site.org', 'ES', 'MX'],
 ['16', 'user53@school.edu', 'EN', 'US'],
 ['17', 'user57@school.edu', 'ES', 'MX'],
 ['18', 'user59@website.net', 'HI', 'IN'],
 ['19', 'user64@school.edu', 'EN', 'US'],
 ['20', 'user67@domain.com', 'HI', 'IN'],
 ['21', 'user68@site.org', 'EN', 'US'],
 ['22', 'user71@domain.com', 'ES', 'MX'],
 ['23', 'user74@service.io', 'EN', 'US'],
 ['24', 'user79@website.net', 'ES', 'MX'],
 ['25', 'user81@site.org', 'EN', 'US'],
 ['26', 'user85@service.io', 'HI', 'IN'],
 ['27', 'user89@service.io', 'EN', 'CA'],
 ['28', 'user91@company.com', 'EN', 'CA'],
 ['29', 'user96@site.org', 'ES', 'MX'],
 ['30', 'user99@website.net', 'EN', 'US']]

JOINING BOTH THE FILES

In [150]:
mn = users.fullOuterJoin(transactions,numPartitions = None)

In [151]:
mn.collect()

[('24', ('user79@website.net', None)),
 ('11', ('user36@website.net', '1004')),
 ('26', ('user85@service.io', None)),
 ('20', ('user67@domain.com', None)),
 ('17', ('user57@school.edu', None)),
 ('22', ('user71@domain.com', None)),
 ('19', ('user64@school.edu', None)),
 ('28', ('user91@company.com', None)),
 ('13', ('user41@company.com', '1005')),
 ('1', ('user1@company.com', '1004')),
 ('3', ('user5@company.com', '1004')),
 ('5', ('user12@service.io', '1003')),
 ('7', ('user21@company.com', '1002')),
 ('9', ('user27@school.edu', '1001')),
 ('15', ('user48@site.org', '1002')),
 ('25', ('user81@site.org', None)),
 ('27', ('user89@service.io', None)),
 ('21', ('user68@site.org', None)),
 ('14', ('user45@domain.com', '1004')),
 ('23', ('user74@service.io', None)),
 ('18', ('user59@website.net', None)),
 ('30', ('user99@website.net', None)),
 ('16', ('user53@school.edu', None)),
 ('29', ('user96@site.org', None)),
 ('2', ('user4@domain.com', '1001')),
 ('4', ('user9@site.org', '1001')),
 ('6', ('user17@website.net', '1002')),
 ('8', ('user25@company.com', '1002')),
 ('12', ('user39@domain.com', '1004')),
 ('10', ('user31@website.net', '1003'))]

FILTERING FOR BUYERS IN DATASET

In [110]:
sold = mn.filter(lambda x: None not in x[1])
sold.collect()

[('11', ('user36@website.net', '1004')),
 ('13', ('user41@company.com', '1005')),
 ('1', ('user1@company.com', '1004')),
 ('3', ('user5@company.com', '1004')),
 ('5', ('user12@service.io', '1003')),
 ('7', ('user21@company.com', '1002')),
 ('9', ('user27@school.edu', '1001')),
 ('15', ('user48@site.org', '1002')),
 ('14', ('user45@domain.com', '1004')),
 ('2', ('user4@domain.com', '1001')),
 ('4', ('user9@site.org', '1001')),
 ('6', ('user17@website.net', '1002')),
 ('8', ('user25@company.com', '1002')),
 ('12', ('user39@domain.com', '1004')),
 ('10', ('user31@website.net', '1003'))]

FINDING PRODUCTS SOLD

In [178]:
products = transactions.map(lambda x:x[4]).distinct()

In [179]:
products.collect()

['thingamajig', 'gadget', 'doohickey', 'whatchamacallit', 'gizmo']

FINDING UNIQUE PRICES FOR PRODUCTS

In [176]:
cost = transactions.map(lambda x:x[3]).distinct()

In [177]:
cost.collect()

['99', '129', '89', '199', '149']